[submodule "An2/Sem1/poo/project/sound-synth"]
	path = An2/Sem1/poo/project/sound-synth
	url = https://github.com/lmihaig/sound-synth.git
[submodule "An2/Sem1/bd/proiect/interfata/CTFlime"]
	path = An2/Sem1/bd/proiect/interfata/CTFlime
	url = https://github.com/lmihaig/CTFlime.git
[submodule "An2/Sem2/eap/proiect/SpaceshipDealership"]
	path = An2/Sem2/eap/proiect/SpaceshipDealership
	url = https://github.com/lmihaig/SpaceshipDealership
[submodule "An2/Sem2/ps/proiect/R-package-continuous-random-variables"]
	path = An2/Sem2/ps/proiect/R-package-continuous-random-variables
	url = https://github.com/lmihaig/R-package-continuous-random-variables
[submodule "An3/Sem1/CloudComp/proiect/AzureCloudComputing"]
	path = An3/Sem1/CloudComp/proiect/AzureCloudComputing
	url = https://github.com/lmihaig/AzureCloudComputing
