<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>

<body>
    <form action="" method="post">
        <input type="text" id="url" name="url" placeholder="Image URL"> <br>
        <input type="text" id="name" name="name" placeholder="Image Name">

        <input type="submit" value="Submit">
    </form>
</body>

</html>