asttokens==2.4.1
attrs==23.1.0
cattrs==23.2.3
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.0
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
docopt==0.6.2
executing==2.0.1
fonttools==4.46.0
idna==3.6
ipykernel==6.27.1
ipython==8.18.1
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.5.0
kiwisolver==1.4.5
lsprotocol==2023.0.0
markdown-it-py==3.0.0
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
nest-asyncio==1.5.8
numpy==1.26.2
opencv-python==4.8.1.78
packaging==23.2
parso==0.8.3
Pillow==10.1.0
platformdirs==4.0.0
prompt-toolkit==3.0.41
psutil==5.9.6
pure-eval==0.2.2
pygls==1.2.1
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pywin32==306
pyzmq==25.1.1
requests==2.31.0
rich==13.7.0
ruff==0.1.6
ruff-lsp==0.0.45
shellingham==1.5.4
six==1.16.0
stack-data==0.6.3
tornado==6.4
traitlets==5.14.0
typer==0.9.0
typing_extensions==4.8.0
urllib3==2.1.0
wcwidth==0.2.12
yarg==0.1.9
